*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

.center{
    width: 1280px;
    margin:0 auto;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.header img{
    height: 180%;
    width: 75px;
    margin: 3px;
}

.header > .center span{
    color: brack;
    padding: 25px;
}
.banner{
    width: 100%;
    height: 100%;
    background-image:url('../images/maclab.jpg');
    background-size: cover;
    background-position: center;
}

.banner > .center{
    height: 100%;
}

.form{
    padding: 20px;
    width: 400px;
    height: calc(80% + 30px);
    float: right;
    position: relative;
    top: 20px;
    border: 8px solid #ffffff;
    background-color: #21548f
    
}

.form p{
    color: red;
}

.form h2{
    font-weight: normal;
    color: white;
    font-size: 21px;
}

.input-container{
    margin-top:20px
}

.input-container span{
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.form p{
    margin: 20px 0;

}

.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border:1px solid #ccc
    

}

.form .input-submit-container{
    text-align: center;
}

.form input[type=submit]{
    border: 0;
    color: black;
    width:280px ;
    min-height: 56px;
    background-color: white;
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    border-bottom: 5px solid green;
}












.form2{
    padding: 50px;
    width: 850px;
    height: calc(80% + 10px);
    float: left;
    position: relative;
    top: 20px;
    border: 3px solid #ffffff;
    background-color: #21548f
    
}

.form2 h2{
    font-weight: normal;
    color: white;
    font-size: 21px;
}

.input-container2{
    margin-top:20px;
    margin: 20px 0;
}


.form2 .input-submit-container2{
    text-align: center;
}



.form2 input[type=submit]{
    border: 0;
    color: black;
    width:380px ;
    min-height: 56px;
    background-color: white;
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    border-bottom: 5px solid green;
}

.input-container2{
    border: 40px;
    margin-top:20px
}

.input-container2 span{
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.butoes{
    color: rgb(255, 255, 255);
}






